.navbar a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
}
.navbar a:hover{
    background-color: #5FBDFF;
    color: white;
    border-radius: 30px;
}

section{
    margin: 100px 0px;
    font-family: "Poppins", sans serif;
    font-weight: 500;
}
.content-1 h2{
    font-weight: 800;
}
#Hardskill h4{
    font-weight: 600;
    text-align: center;
}
.isi h3{
    font-weight: 600;
}



body{
    scroll-behavior: smooth;
    background: hsla(202, 71%, 27%, 1);

    background: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#145277", endColorstr="#83D0CB", GradientType=1 );   
}
footer a, footer abbr{
    cursor: pointer;
    text-decoration: none;
    color: blue
}

.whatsapp,.instagram, .linkedin, .email{
    padding: 10px 5px 0px 5px;
    flex-basis: 25%;
}
.whatsapp:hover,.instagram:hover, .linkedin:hover, .email:hover, footer p:hover{
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 250px) and (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
    } 
    .navbar a{
        width: 100%;
        text-align: center;
    }
    #biodata{
        margin-top: 300px;
    }
}
@media screen and (min-width: 448px) and (max-width: 767px){
    .whatsapp, .instagram, .linkedin, .email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 429px) and (max-width: 768px){

}
